@{
    ViewBag.Title = "Bemutatkozás"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section article
{
    <h2 class="header2">Rólunk pár szót</h2>
    <p align="justify"> A Mazsik Műhely Heves megyében egyedüli egyéni vállalkozás, mely évtizedek óta fék és kuplung felújításokkal foglalkozik.
    Tulajdonosa Mazsik Gábor aki 15 éve vette át e családi vállakozást. </p>
    <h2 class="header2">A válalkozás fő tevékenysége személy és teherautókra egyaránt:</h2>
    <ul>
        <li>fékdob szabályozás, </li>
        <li>féktárcsa szabályozás,</li>
        <li>fékpofa betétezés,</li>
        <li>kuplung tárcsa betétezés,</li>
        <li>kuplungszerkezet köszörülés,</li>
        <li>lendkerék szabályozás.</li>
    </ul>
}
