@{
    ViewBag.Title = "Kapcsolat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section article
{
    <div id="contactInfo">
        <h2 class="header2">Elérhetőségeink:</h2>
        <p> 3300 Eger,Egri út 98 </p>
        <p> Tel.: (36) 431/233</p>
        <p> Nyitvatartás: H-P 8:00-17:00</p>
        <p> E-mail: mazsikmuhely@gmail.com</p>
    </div>
    <div id="contactIMG">
        <img src="~/Content/gallery/IMG_2957.jpg" height="200" width="300" />
    </div>
    <p align="right" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2673.410490116291!2d20.366434415641713!3d47.92844297920734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47408dcf55c2ebed%3A0x134be7c19481f8ab!2sMazsik+M%C5%B1hely!5e0!3m2!1shu!2shu!4v1455373879288" width="300" height="400">
            <p>Ha nem látsz térképet akkor a böngésződ nem támogatja az iframe-t, keress rá Google Maps-en!</p>
        </iframe>
    </p>
}
