@{
    ViewBag.Title = "Mazsik Műhely";
    
}
@section article 
{
    <div id="indexIMG">
        <img src="~/Content/gallery/IMG_2961.jpg" height="300" />
    </div>
    <h2 class="header2" style="text-align:center">Üdvözöllek a Mazsik Műhely Honlapján!</h2>
    <p style="text-align:center">Ezen a weboldalon megtalálsz minden információt rólunk, amit tudni szeretnél!</p>
}
