@model proba.EntityFramework.Producer

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section admin
{
    <h3>Biztos törölni akarod?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend style="text-align:center">Termékgyártó Törlés</legend>
            <div class="display-field">
                @Html.DisplayFor(model => model.producer1)
            </div>
            <p><input type="submit" value="Törlés" /></p>
        </fieldset>
    }
    @Html.ActionLink("Vissza", "ProducerIndex", "Producer")
}