@model IEnumerable<proba.EntityFramework.CarName>

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section admin
{
    <p>
        @Html.ActionLink("Létrehoz", "CreateCarName")
    </p>
    <table>
        <tr>
            <th>
                Gyártó
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carname1)
            </td>
            <td>
                @Html.ActionLink("Szerkeszt", "EditCarName", new { id=item.id }) |
                @Html.ActionLink("Törlés", "DeleteCarName", new { id=item.id })
            </td>
        </tr>
    }

    </table>
}