@{
    ViewBag.Title = "Fizetés";
}
@section article
{
    <h2 class="header2">Köszönjük, hogy nálunk vásárolt @Session["LoggedName"], e-mailbe elküldtük az adatait.</h2>
    <p>Futár szolgálatunk nem sokára kézbesíteni fogja a megrendelt termékeit!</p>
}
